# Configuration file

barrelstorage {
    # The maximum stacks of items that a barrel can hold.
    #  Set any value to -1 and that type of barrel will be disabled.
    I:T1BarrelMaxStorage=64
    I:T2BarrelMaxStorage=1024
    I:T3BarrelMaxStorage=4096
}


block {
    # The block ID for barrels.
    I:Barrel=4000

    # This is a name barrels will use to distinguish itself from other blocks.
    # This will rarly need to be changed.
    S:"Barrel Name"=mod-barrel
}


crafting {
    # This allowes you to chage the crafting recipeis.
    #  Look on the forum for tutorials on setting this up.
    S:T1barrelCrafting=shaped;logWood;logWood;logWood;item,iron_ingot;nothing;item,iron_ingot;logWood;logWood;logWood
    S:T2barrelCrafting=shaped;item,blaze_rod;block,obsidian;item,blaze_rod;item,ender_pearl;barrel,T1barrel;item,ender_pearl;item,blaze_rod;block,obsidian;item,blaze_rod
    S:T3barrelCrafting=shaped;block,obsidian;item,blaze_rod;block,obsidian;item,diamond;barrel,T2barrel;item,diamond;block,obsidian;item,blaze_rod;block,obsidian
}


interaction {
    # When a item frame is placed on a barrelthe item frame will automatically attach to it and start displaying what is instide the barrel.
    B:connectsWithItemFrames=true

    # How the barrels interact with outside sources (buildcraft pipes)
    #  Usage: can be in four states: in, out, in/out, unused
    #  Formatting: <up>;<down>;<back>;<forward>;<right>;<left>
    S:interaction=in/out;in/out;in/out;in/out;in/out;in/out
    B:leaveOneItem=false
    B:useOreDictionary=false
}


render {
    B:onlyRenderOneSide=false
    B:renderIn3D=true
    B:renderName=false
}


